{{ with .Site.Data.portfolioSection }}
{{ if .enable }}
<section class="section portfolio" id="portfolio">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-6">
        <div class="portfolio__header mb-5">
          <div class="service__background_pattern">
            <img src="{{ .image | absURL }}" background-position: bottom 50px right 100px; alt="background-pattern">
          </div>
          <span class="top-title">{{ .topTitle }}</span>
          {{ .title | markdownify }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}